.card-container-aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: calc(139% + 26px); }

.card-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px; }
  .card-container.card-rarity-common .ant-rate {
    background-color: rgba(143, 118, 76, 0.55); }
  .card-container.card-rarity-uncommon .ant-rate {
    background-color: rgba(173, 172, 169, 0.65); }
  .card-container.card-rarity-rare .ant-rate {
    background-color: rgba(255, 243, 0, 0.75); }
  .card-container.card-rarity-mythic .ant-rate {
    background-color: rgba(46, 199, 245, 0.85); }
  .card-container .ant-rate {
    width: 80%;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-top: -2px;
    z-index: -1;
    box-shadow: 0px 0px 5px 0px black; }
  .card-container .ant-rate-star-full {
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.75), 0px 0px 3px rgba(0, 0, 0, 0.75), 0px 0px 3px rgba(0, 0, 0, 0.75), 0px 0px 3px rgba(0, 0, 0, 0.75);
    color: #a9ff4f; }
    .card-container .ant-rate-star-full:after {
      content: ' ';
      position: absolute;
      top: 5px;
      left: -1px;
      width: 20px;
      height: 20px;
      box-shadow: inset -4px -4px 9px 0px rgba(0, 0, 0, 0.75);
      border-radius: 50px; }
    .card-container .ant-rate-star-full:before {
      content: ' ';
      position: absolute;
      top: 5px;
      left: -1px;
      width: 20px;
      height: 20px;
      z-index: 20;
      box-shadow: inset 5px 3px 5px 0px rgba(255, 255, 255, 0.25);
      border-radius: 50px; }
  .card-container .ant-rate-star-zero {
    opacity: 0.35;
    text-shadow: 0px 0px 2px #000,0px 0px 2px #000,0px 0px 2px #000,0px 0px 2px #000; }
    .card-container .ant-rate-star-zero:after {
      content: ' ';
      position: absolute;
      top: 5px;
      left: -1px;
      width: 20px;
      height: 20px;
      box-shadow: inset -3px -3px 3px 0px black, inset -3px -3px 3px 0px black;
      border-radius: 50px; }

.card-image {
  position: relative;
  padding-bottom: 139%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px;
  border-bottom: 4px solid transparent;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 3; }
  .card-image.animated {
    position: absolute;
    top: 0;
    pointer-events: none;
    z-index: 4; }
