$cardsPerPage: 4;
$padding: 10px;
$rate-shadow: 3px;

.card-container-aspect-ratio{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: calc(139% + 26px);
}

.card-container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    //border: 4px solid transparent;
    //background-color: #AAA;
    border-radius: 5px;

    &.card-rarity-common .ant-rate{
        background-color: transparentize(#8f764c, 0.45);
        //.ant-rate-star-full{color: lighten(#8f764c, 10)}
    }
    &.card-rarity-uncommon .ant-rate{
        background-color: transparentize(#adaca9, 0.35);
        //.ant-rate-star-full{color: lighten(#adaca9, 10)}
    }
    &.card-rarity-rare .ant-rate{
        background-color: transparentize(#fff300, 0.25);
        //.ant-rate-star-full{color: lighten(#fff300, 10)}
    }
    &.card-rarity-mythic .ant-rate{
        background-color: transparentize(#2ec7f5, 0.15);
        //.ant-rate-star-full{color: lighten(#2ec7f5, 10)}
    }

    .ant-rate{
        width: 80%;
        border-radius: 15px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        margin-top: -2px;
        z-index: -1;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
    }

    .ant-rate-star-full{
        //position: relative;
        text-shadow: 0px 0px #{$rate-shadow} rgba(0, 0, 0,.75), 0px 0px #{$rate-shadow} rgba(0, 0, 0,.75), 0px 0px #{$rate-shadow} rgba(0, 0, 0,.75), 0px 0px #{$rate-shadow} rgba(0, 0, 0,.75);
        color: #a9ff4f;
        &:after{
            content: ' ';
            position: absolute;
            top: 5px;
            left: -1px;
            width: 20px;
            height: 20px;

            //background: #000;
            box-shadow: inset -4px -4px 9px 0px rgba(0,0,0,0.75);
            border-radius: 50px;
        }
        &:before{
            content: ' ';
            position: absolute;
            top: 5px;
            left: -1px;
            width: 20px;
            height: 20px;
            z-index: 20;

            //background: #000;
            box-shadow: inset 5px 3px 5px 0px rgba(255,255,255,.25);
            border-radius: 50px;
        }
    }
    .ant-rate-star-zero{
        opacity: 0.35;
        text-shadow: 0px 0px 2px #000,0px 0px 2px #000,0px 0px 2px #000,0px 0px 2px #000;

        &:after{
            content: ' ';
            position: absolute;
            top: 5px;
            left: -1px;
            width: 20px;
            height: 20px;

            //background: #000;
            box-shadow: inset -3px -3px 3px 0px rgba(0,0,0,1), inset -3px -3px 3px 0px rgba(0,0,0,1);
            border-radius: 50px;
        }
    }
}

.card-image{
    position: relative;
    padding-bottom: 139%;
    width: 100%;
    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: center center;
    border-radius: 5px;
    border-bottom: 4px solid transparent;
    background-color: rgba(0,0,0,.25);
    z-index: 3;

    &.animated{
        position: absolute;
        top: 0;
        pointer-events: none;
        z-index: 4;
    }
}
