body, .with-background {
  background-image: url(/images/footer_lodyas_colored.png) !important; }

.ant-list[theme="dark"] {
  color: rgba(255, 255, 255, 0.65);
  background: #001529; }
  .ant-list[theme="dark"] .ant-list-item {
    cursor: pointer;
    border-bottom-color: rgba(255, 255, 255, 0.65); }
    .ant-list[theme="dark"] .ant-list-item:hover {
      background: #002f5c; }
    .ant-list[theme="dark"] .ant-list-item span.selected {
      font-weight: bold; }
    .ant-list[theme="dark"] .ant-list-item span.empty {
      font-style: italic; }

.ant-layout-transparent {
  background: transparent; }

div.ant-modal-content,
.ant-notification-notice,
.ant-message-notice-content,
.ant-popover-inner {
  border: 3px solid rgba(255, 255, 255, 0.5); }

.ant-table-wrapper {
  background-color: #30303d; }
  .ant-table-wrapper .ant-table-pagination.ant-pagination {
    margin: 16px; }
