$darkText: hsla(0,0%,100%,.65);
$darkBackground: rgb(0, 21, 41);

body, .with-background{
    background-image: url(/images/footer_lodyas_colored.png) !important;
}

.ant-list[theme="dark"]{
    color: $darkText;
    background: $darkBackground;
    .ant-list-item{
      cursor: pointer;
      border-bottom-color: $darkText;
      &:hover{background: lighten($darkBackground, 10)}
      span.selected{font-weight: bold;}
      span.empty{font-style: italic;}
    }
}

.ant-layout-transparent{
    background: transparent;
}

div.ant-modal-content, .ant-notification-notice, .ant-message-notice-content{
    border: 3px solid rgba(255,255,255,.5);
}

.ant-table-wrapper{
    background-color: #30303d;
}