.deckLine > * {
  float: left; }

.deckLine .gems {
  width: 60px;
  text-align: center; }

.deckLine .cost {
  width: 20px; }

.deckLine .name {
  width: calc(100% - 85px);
  text-transform: capitalize; }

.deckLine .rarity {
  width: 5px; }
