$cardsPerPage: 4;
$padding: 10px;

#container{
    width: calc((100vw - 17px)/#{$cardsPerPage});
    height: calc(100vw/#{$cardsPerPage} - 1px);
    padding: $padding;
    //overflow: hidden;
    float: left;
    //position: relative;
}

#card{
    width: 100%;
    height: 100%;
    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: center center;

    &.animated{
        position: relative;
        top: calc(-100vw/#{$cardsPerPage} + 1px + 2*#{$padding});
    }
}
