.menu .ant-menu-item, .menu .ant-menu-submenu-title {
  border-bottom: 1px solid #AAA; }

.header {
  padding: 20px 40px;
  background: rgba(0, 0, 0, 0.01);
  line-height: 40px;
  text-align: center;
  font-size: 24px;
  font-weight: bold; }
  .header > .fa {
    margin-left: 8px; }

.footer {
  padding: 20px 40px;
  background: rgba(0, 0, 0, 0.01); }

.ant-divider-vertical {
  background: #fff;
  height: 30px;
  position: relative;
  top: -10px; }
